.secupress-row-actions{font-size:13px}
.secupress-dashicon-color-good:before{color:#88BA0E}
.secupress-dashicon-color-bad:before{color:#D73838}
.secupress-dashicon-color-warning:before{color:#FFA500   }
.status-good .fixit, .status-notscannedyet .fixit{display:none}
.helpme a:focus{box-shadow:none;outline:0}
#table-secupress-tests ul{list-style:disc outside;}
th.secupress-type{width:100px}
th.secupress-status{width:150px}
.dashicons-external{font-size:1.2em}
#table-secupress-tests th{padding:5px}
.secupress-row-actions > span:not(:last-child):after{content:"|"}
th.secupress-check{width:1%}
.form-table td{vertical-align:top}
.secupress-details .dashicons-editor-help{vertical-align:top;line-height:0.7em}
.secupress-result-list{margin:0px}