@charset "UTF-8";

html, body {
	width: 100%;
	margin: 0;
	font: 1em/1.5 Arial, Helvetica, sans-serif;
	color: #313131;
	background: #F1F1F1;
}
.wrap {
	max-width: 400px;
	padding: 20px 10px;
	margin: 10px auto;
	text-align: center;
}
form {
	text-align: inherit;
}
h1 {
	margin: 0 0 1em;
	font-size: 2em;
	line-height: 1.1;
}
p {
	margin: 0 0 1.5em;
}
a {
	color: #205081;
}
a:active,
a:hover,
a:focus {
	color: #2d75bd;
}
label {
	display: inline-block;
	margin-bottom: .5em;
}
[type="text"] {
	box-sizing: border-box;
	width: 100%;
	padding: .5em;
	border: 1px solid rgba(83,69,55,.3);
	margin: 0 0 1.5em;
	border-radius: 3px;
	font-size: 1em;
	font-family: inherit;
	color: inherit;
}
[type="text"]:focus {
	border-color: rgb(156,144,138);
}
[type="submit"] {
	position: relative;
	display: inline-block;
	line-height: 1.2;
	padding: .65em 1.8em;
	border: none;
	margin: 0 0 .5em 0;
	background: #205081;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	box-shadow: none;
	border-radius: .214em;
	color: #fff;
	font-size: .875em;
	font-family: inherit;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	        transition: all .3s ease;
}
[type="submit"]:focus,
[type="submit"]:hover {
	background-color: #2d75bd;
}
.error {
	padding: .5em 1em;
	border: solid 2px #ff8383;
	background: #ffb1b1;
	border-radius: .2em;
}
.progress-wrap {
	width: 100%;
	border: solid 1px #555;
	margin-left: -1px;
}
.progress {
	height: 1.5em;
	line-height: 1.5em;
	background: #88BA0E;
	color: #fff;
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}
