@charset "UTF-8";

/**
 * ==== TABLE OF COLORS ===
 *
 * Yellow		: #F1C40F;
 * YellowDark	: #F7AB13;
 * Red			: #F2295E;
 * RedDark		: #CB234F;
 * Green		: #2BCDC1;
 * GreenDark	: #26B3A9;
 * Dark			: #222831;
 * GrayLight	: #F2F2F6;
 * GrayMedium	: #5A626F;
 * GrayDark		: #393E46;
 * 
 */

#secupress-more-info .secupress-blob-icon,
#secupress-more-info .secupress-blob:after {
	transition: all .275s;
}
.secupress-close-moreinfo,
#secupress-more-info .secupress-blob-icon,
#secupress-more-info .secupress-blob:after {
	transform: translateY(-15px);
	opacity: 0;
	visibility: hidden;
}
.secupress-open .secupress-close-moreinfo,
#secupress-more-info.secupress-open .secupress-blob-icon,
#secupress-more-info.secupress-open .secupress-blob:after {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.secupress-open-moreinfo {
	transform: translateY(0);
}
.secupress-open-moreinfo.secupress-activated {
	transform: translateY(15px);
	opacity: 0;
	visibility: hidden;
}

#secupress-more-info.secupress-open .secupress-blob-icon {
	transition-delay: 0.3s;
}
#secupress-more-info.secupress-open .secupress-blob:after {
	transition-delay: 0.4s;
}
#secupress-more-info.secupress-open .secupress-col-1-3:nth-child(2) .secupress-blob-icon {
	transition-delay: 0.6s;
}
#secupress-more-info.secupress-open .secupress-col-1-3:nth-child(2) .secupress-blob:after {
	transition-delay: 0.7s;
}
#secupress-more-info.secupress-open .secupress-col-1-3:nth-child(3) .secupress-blob-icon {
	transition-delay: 0.9s;
}
#secupress-more-info.secupress-open .secupress-col-1-3:nth-child(3) .secupress-blob:after {
	transition-delay: 1s;
}


/* Little pieces of colors for chart legend or item status */
.secupress-chart-legend {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.01em;
}
.secupress-chart-container + .secupress-chart-legend {
	margin-left: 30px;
}
.secupress-chart-legend li {
	margin: 0;
}
.secupress-chart-legend li + li {
	margin-top: 1em;
}
.secupress-carret {
	display: inline-block;
	height: 1.75em;
	width: 5px;
	margin-right: 5px;
	vertical-align: -.5em;
}
.status-good .secupress-carret {
	background: #26B3A9;
}
.status-warning .secupress-carret {
	background: #F7AB13;
}
.status-bad .secupress-carret,
.status-error .secupress-carret {
	background: #CB234F;
}
.status-notscannedyet .secupress-carret,
.status-cantfix .secupress-carret {
	background: #5A626F;
}

.secupress-chart-legend [class^="secupress-count-"]:not(:empty):before {
	content: "(";
}
.secupress-chart-legend [class^="secupress-count-"]:not(:empty):after {
	content: ")";
}

/* WordPress generic style fix */
[class^="secupress-"] .status-warning {
	color: inherit;
}

/* Doughnut Chart */
.secupress-chart-container {
	position: relative;
}
.secupress-chart-container:after {
	content: "\e903";
	position: absolute;
	top: 50%; left: 50%;
	line-height: 110px;
	margin: -50px 0 0 -57px;
	font-family: "secupress";
	font-size: 110px;
	color: rgba(255,255,255,.07);
}

.secupress-row-actions {
	margin-top: 4px;
	font-size: 13px;
}

.scanning .secupress-row-actions,
.fixing .secupress-row-actions,
.status-good .secupress-fix-status-actions,
.status-warning .secupress-fix-status-actions,
.status-notscannedyet .secupress-fix-status-actions {
	display: none;
	visibility: hidden;
	speak: none;
}

.secupress-reports-list {
	margin-bottom: 3em;
	font-size: 1.1em;
}
.secupress-reports-list .timeago {
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.875em;
}

#table-secupress-tests ul {
	list-style: disc outside;
}
.dashicons-external {
	font-size: 1.2em;
}

.secupress-prio-title {
	padding: 5px 10px;
	margin: 3.5em 0 1em;
	background: #ECF0F1;
	color: #5A626F;
	font-weight: bold;
	letter-spacing: 0.125em;
}
.secupress-prio-h {
	color: inherit;
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
}
.secupress-prio-h + p {
	font-size: 10px;
	margin: 0;
	opacity: 0.8;
}
.secupress-table-prio-all .details {
	font-style: italic;
	background: #ddf;
}
.secupress-item-all.hidden + .details {
	display: none;
}
.secupress-details .dashicons-editor-help {
	vertical-align: top;
	line-height: .7em;
}
.secupress-result-list {
	margin: 0;
}

.secupress-item-all.scanning,
.secupress-item-all.fixing {


	/*
	 *
	 * TODO: add styles for scanning or fixing states
	 * 
	 */


}
.secupress-item-all.scanning .icon-refresh {
	animation: rotation 2s infinite linear;
}
@keyframes rotation {
	0 {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.secupress-scan-result ul,
.secupress-fix-result ul {
	margin: 0;
}
.secupress-scan-result li,
.secupress-fix-result li {
	margin-bottom: 0;
}
.secupress-scan-result li + li,
.secupress-fix-result li + li {
	margin-top: 6px;
}
.test-fix-action h3 {
	margin-top: 0;
}
.test-fix-action .submit {
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: left;
}

.secupress-chart,
.secupress-scan-infos {
	float: left;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.secupress-chart {
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-basis: 430px;
	-ms-flex-preferred-size: 430px;
	flex-basis: 430px;
	width: 430px;
	max-width: 100%;
	padding-left: 35px;
}
.secupress-chart .secupress-score .letter {
	position: absolute;
	font-size: 82px;
	top: 50%; left: 50%;
	margin: -12px 0 0 -26px;
	font-family: Arial, Helvetica, sans-serif;
}
.secupress-scan-infos .letter,
.secupress-reports-list .letter {
	font-weight: bold;
	font-size: 1.2em;
}
.secupress-reports-list .letter {
	vertical-align: -1px;
}
.secupress-chart .secupress-score .l∅ {
	font-size: 64px;
	margin: -6px 0 0 -28px;
}
.secupress-score .lA,
.secupress-reports-list .lA,
.dashicons-arrow-up-alt2 {
	color: #2BCDC1;
}
.secupress-score .lB,
.secupress-reports-list .lB {
	color: #F1C40F;
}
.secupress-score .lC,
.secupress-reports-list .lC,
.dashicons-arrow-down-alt2 {
	color: #F7AB13;
}
.secupress-score .lD,
.secupress-reports-list .lD {
	color: #F2295E;
}
.secupress-score .lE,
.secupress-reports-list .lE {
	color: #CB234F;
}
.secupress-score .lF,
.secupress-reports-list .lF {
	color: #c32222;
}

.mini {
	font-size: 12px;
	line-height: 1.7em;
}
/**/
.link-like {
	padding: 0;
	border: none;
	margin: 0;
	font-size: 1em;
	line-height: inherit;
	text-align: left;
	text-transform: none;
	color: #0073AA;
	text-shadow: none;
	background: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
}
.link-like:hover,
.link-like:focus {
	color: #00A0D2;
}

/**
 * === Sanned Items
 */
[id="secupress-tests"] .secupress-item-all {
	position: relative;
	padding-left: 10px;
	margin: 1.5em 0;
	border: 1px solid #ECF0F1;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 0 #ECF0F1;
}
[id="secupress-tests"] .secupress-item-all:after {
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 10px;
	background: #5a626f;
	border-radius: 3px 2px 2px 3px;
}
.secupress-item-all.status-bad:after {
	background: #F2295E;
}
.secupress-item-all.status-good:after {
	background: #2BCDC1;
}
.secupress-item-all.status-warning:after {
	background: #F1C40F;
}
.secupress-item-header {
	padding: 5px 25px 5px 15px;
}
.secupress-item-title {
	font-size: 16px;
	margin: 5px 0 0 0;
}

/* Row under item title */
.secupress-row-actions .link-like {
	color: #9B9B9B;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 0.05em;
	text-transform: lowercase;
}
.secupress-row-actions .link-like > * {
	display: inline-block;
	vertical-align: middle;
}
.secupress-row-actions .link-like .icon {
	line-height: 0.8;
}
.secupress-row-actions .link-like .icon i {
	font-size: 1.2em;
	margin-right: 2px;
}

/* Col with Fix-it button */
.secupress-item-actions-fix,
.secupress-scan-actions,
.secupress-fix-result-retryfix {
	padding-right: 15px;
	text-align: right;
	-webkit-flex-basis: 270px;
	-ms-flex-preferred-size: 270px;
	flex-basis: 270px;
}

.secupress-item-actions-fix {
	padding-top: 10px;
}

/* Scan result and actions */
.secupress-scan-result-n-actions {
	border-top: 1px solid #ECF0F1;
	margin: 8px 0 0 15px;
	padding: 8px 0;
	color: #5A626F;
}

.secupress-item-all code {
	padding: 0px 3px 0px;
	background: none;
	color: #393e46;
}

.secupress-fix-result-message,
.secupress-fix-result-actions {
	padding: 10px 15px;
}

.secupress-fix-result-actions p {
	margin: 0;
}

.secupress-ask-support {
	opacity: .5;
}
.secupress-ask-support:focus,
.secupress-ask-support:hover {
	opacity: .9;
}

/**/
.sweet-alert .sa-error-container .icon {
	margin-right: 10px;
	vertical-align: middle;
}
.sweet-alert .sa-error-container p {
	vertical-align: middle;
}
/**/
.sweet-alert input[type="text"]:invalid,
.sweet-alert input[type="email"]:invalid,
.sweet-alert input[type="password"]:invalid,
.sweet-alert input[type="url"]:invalid {
	background: #fdd;
}
.secupress-swal-form label {
	display: inline-block;
}
.secupress-group-horizontal > input {
	margin-bottom: .65em;
}
.secupress-group-horizontal > label {
	margin-right: .875em;
	margin-bottom: .71em;
}
ul.secupress-radio-group-vertical,
ul.secupress-checkbox-group-vertical,
.secupress-radio-group-vertical ul,
.secupress-checkbox-group-vertical ul {
	margin-top: 0;
}
.secupress-radio-group-vertical li,
.secupress-checkbox-group-vertical li {
	padding-left: 1.5em;
}
.wp-admin .secupress-radio-group-vertical [type="radio"],
.wp-admin .secupress-checkbox-group-vertical [type="checkbox"] {
	float: left;
	font-size: .875em;
	margin-left: -1.714em;
	margin-top: .4286em;
}
/**/
.too-many-admins-posts-wrapper,
.too-many-admins-role-wrapper {
	display: none;
}
[value="delete"]:checked ~ .too-many-admins-posts-wrapper,
[value="changerole"]:checked ~ .too-many-admins-role-wrapper {
	display: block;
	margin-top: .5em;
}
/**/
[id="tweeterA"] span {
	color: #55acee;
}
[id="tweeterA"] i {
	display: block;
	font-size: 1.2em;
	color: rgba(255,255,255,.65);
}
[id="tweeterA"] i:before {
	content: "“";
	margin-right: .2em;
	font-size: 3em;
	color: rgba(255,255,255,.2);
	font-family: Georgia, Times, serif;
	vertical-align: -0.4em;
}
.disabled {
	border-color: #ccc;
	color: #ccc;
}
/**/
.secupress-notice .secupress-spinner,
.secupress-notice .secupress-ajax-percent,
.secupress-notice .secupress-error-notif {
	vertical-align: middle;
	display: inline-block;
	margin-left: 1em;
}
.secupress-notice .secupress-spinner {
	width: 1.5em;
}
.secupress-notice .secupress-error-notif {
	color: #DD3D36;
}