@charset "UTF-8";

/**
 * ==== TABLE OF COLORS ===
 *
 * Yellow		: #F1C40F;
 * YellowDark	: #F7AB13;
 * Red			: #F2295E;
 * RedDark		: #CB234F;
 * Green		: #2BCDC1;
 * GreenDark	: #26B3A9;
 * Dark			: #23282d;
 * GrayLight	: #F2F2F6;
 * GrayMedium	: #5A626F;
 * GrayDark		: #393E46;
 *
 */

/* General */
[id="wpbody-content"] [class^="secupress-"] *,
[id="wpbody-content"] [class*=" secupress-"] * {
	font-family: "Open Sans", Helvetica;
	line-height: 1.6;
}
[class^="secupress-"] [class^="icon"],
[class*=" secupress-"] [class^="icon"] {
	line-height: 1;
}
[class^="secupress-"] code,
[class*=" secupress-"] code {
	background: #F2F2F6;
}
.secupress-log-content code {
	background: #23282d;
}

/* Buttons */
.secupress-button.secupress-button,
.secupress-button-primary.secupress-button-primary,
.secupress-button-secondary.secupress-button-secondary,
.secupress-button-tertiary.secupress-button-tertiary {
	padding: 8px 20px 7px;
}
.secupress-button-mini.secupress-button-mini {
	padding: 4px 10px;
}

.secupress-module-box [class^="secupress-button"] {
	padding: 6px 25px;
}
.secupress-col-cta [class^="secupress-button"] {
	padding: 6px 20px 7px
}
.secupress-logs-list .bulkactions .button {
	text-shadow: none;
}

/* Forms */
.secupress-logs-list .bulkactions select {
	padding: 2px;
}

/* Cols in scanner */
.secupress-chart .secupress-score .letter,
.secupress-latest-chart .secupress-score .letter {
	line-height: .35;
}

/* Tabs in scanner */
.secupress-light-tabs a {
	letter-spacing: 0.05em;
}

.secupress-icon-radar::before {
	font-size: 1em;
}

/* Dashicons */
[class^="secupress-"] .dashicons.dashicons {
	font-family: 'secupress';
	font-style: normal;
	font-weight: normal;
}
[class^="secupress-"] .dashicons.dashicons-arrow-right:before {
	content: "\f105";
}
.button-actions-title .dashicons.dashicons-arrow-right:before {
	display: inline-block;
	vertical-align: -2px;
	margin-left: 3px;
	transition: all .275s;
}
.open .dashicons.dashicons-arrow-right:before {
	transform: rotate(90deg);
}

/* Table list view */
.secupress-logs-list .wp-list-table,
.secupress-logs-list .wp-list-table thead th:first-of-type,
.secupress-logs-list .wp-list-table thead th:last-of-type,
.secupress-logs-list .wp-list-table tfoot th:first-of-type,
.secupress-logs-list .wp-list-table tfoot th:last-of-type {
	border-radius: 0;
}
.secupress-logs-list .wp-list-table.striped > tbody > tr,
.secupress-logs-list .wp-list-table.striped > tbody > th {
	background: #FFF;
}
.secupress-logs-list .wp-list-table thead th,
.secupress-logs-list .wp-list-table tfoot th {
	background: transparent;
}

.secupress-logs-list .check-column .secupress-checkbox-mini + .label-text:before,
.secupress-logs-list .check-column .secupress-checkbox-mini + .label-text:after {
	top: -11px;
}
.secupress-logs-list tr + tr td,
.secupress-logs-list tr + tr th {
	border-top: 0;
}
