h2.nav-tab-wrapper {
	float: left;
	padding: 0;
	border: none;
	margin: 0;
}

h2 .nav-tab {
	display: block;
	position: relative;
	z-index: 10;
	width: 170px;
	padding: 7px 10px 10px;
	border: 1px solid #CCC;
	margin: 0 0 -1px;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
}
h2 .nav-tab:first-child {
	border-radius: 4px 4px 0 0;
}
h2 .nav-tab:last-child {
	border-radius: 0 0 4px 4px;
}
h2 .nav-tab:focus,
h2 .nav-tab-active {
	z-index: 15;
}

h2 .nav-tab .dashicons {
	vertical-align: middle;
	margin-right: 6px;
}

#tab_content {
	margin-left: 212px;
	width: 650px;
	position: relative;
}

#tab_content > .secublock {
	margin-bottom: 20px;
}

.secublock h3 {
	border-bottom: 1px solid #CCC;
	padding-bottom: 3px;
	overflow: hidden;
}

.form-table {
	clear: none;
}

.toggle-password {
	opacity: .7;
}

.nav-tab-wrapper a.active-module {
	border-left: 3px solid #88BA0E;
	width: 151px;
}

#password-strength {
	background-color: #eee;
	border: 1px solid #ddd;
	float: left;
	margin: 13px 5px 5px 1px;
	padding: 3px 5px;
	text-align: center;
	width: 200px;
}

#password-strength.short {
	background-color: #ffa0a0;
	border-color: #f04040;
}

#password-strength.bad {
	background-color: #ffb78c;
	border-color: #ff853c;
}

#password-strength.good {
	background-color: #ffec8b;
	border-color: #fc0;
}

#password-strength.strong {
	background-color: #c3ff88;
	border-color: #8dff1c;
}

label {
	display: inline-block;
	position: relative;
}

.button-actions-title,
.button-actions-title:hover,
.button-actions-title:focus {
	float: right;
	margin-top: -5px;
	font-size: .8em;
	font-weight: 400;
	font-style: italic;
	opacity: .6;
}
.button-actions-title:hover,
.button-actions-title[aria-expanded="true"] {
	opacity: 1;
}
.button-actions-title .dashicons-arrow-right {
	-webkit-transition: all .3s ease;
	        transition: all .3s ease;
}
.button-actions-title[aria-expanded="true"] .dashicons-arrow-right {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

#password_strength_pattern {
	cursor: default;
	opacity: 0;
	position: absolute;
	left: 0;
	z-index: -1;
}

.description.warning strong {
	color: red;
}