@charset "UTF-8";

/**
 * ==== TABLE OF COLORS ===
 *
 * Yellow		: #F1C40F;
 * YellowDark	: #F7AB13;
 * Red			: #F2295E;
 * RedDark		: #CB234F;
 * Green		: #2BCDC1;
 * GreenDark	: #26B3A9;
 * Dark			: #222831;
 * GrayLight	: #F2F2F6;
 * GrayMedium	: #5A626F;
 * GrayDark		: #393E46;
 *
 */

/**
 * Scanners header
 */
.secupress-scanners-header .secupress-logo-block {
	flex-grow: 0;
}
.secupress-scanners-header .secupress-heading {
	position: relative;
	border-bottom: 1px solid #393E46;
}
.secupress-label-with-icon {
	position: relative;
	display: block;
	padding-left: 50px;
	font-weight: 500;
	text-decoration: none;
}
.secupress-label-with-icon i {
	position: absolute;
	left: 0; top: 1px;
	font-size: 35px;
	color: #26B3A9;
}
.secupress-label-with-icon i.rounded {
	font-size: 16px;
	border-color: #F39C12;
	color: #F39C12;
}
@media (min-width: 820px) {
	.secupress-last-scan-result {
		padding-left: 150px;
	}
	.secupress-last-scan-result i {
		left: 100px;
	}
}
.secupress-label-with-icon .secupress-upper {
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	color: #FFF;
}
.secupress-label-with-icon .secupress-primary {
	display: block;
	color: #26B3A9;
}
.secupress-label-with-icon .secupress-description {
	display: block;
	color: #ACB0B7;
}

/**
 * Scanners breadcrumbs steps
 */
.secupress-scanner-steps ol {
	margin: 1em 114px;
}
.secupress-scanner-steps li {
	padding: 0;
}
.secupress-scanner-steps li:before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	border: 2px solid #5A626F;
	font-size: 16px;
	font-weight: bold;
	color: #5A626F;
	border-radius: 50%;
}
.secupress-scanner-steps .secupress-past:before,
.secupress-scanner-steps .secupress-current:before {
	border-color: #F1C40F;
	color: #F1C40F;
}
.secupress-step-name {
	display: none;
	flex-shrink: 0;
	padding: 0 12px;
	font-weight: 600;
	color: #F1C40F;
}
li.secupress-current .secupress-step-name {
	display: block;
}
.secupress-scanner-steps li:after {
	content: "";
	height: 2px;
	flex-grow: 1;
	flex-basis: 100%;
	background: #5A626F;
}
.secupress-scanner-steps li.secupress-past:after {
	background: #F1C40F;
}

/* The third step */
.secupress-scanner-steps .secupress-step-name.alt {
	display: none;
	order: 2;
}
.secupress-scanner-steps .secupress-past .secupress-step-name.alt {
	display: block;
}

/* The fourth step */
.secupress-scanner-steps li:nth-last-child(1) {
	flex-basis: auto;
	width: auto;
}
.secupress-scanner-steps li:nth-last-child(1):after {
	display: none;
}
li.secupress-current:nth-last-child(1) .secupress-step-name {
	position: absolute;
	width: 1px; height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
}
/* Arrow below current step */
.secupress-scanner-steps .secupress-current .secupress-step-name {
	position: relative;
}
.secupress-scanner-steps .secupress-current .secupress-step-name:after {
	content: "";
	position: absolute;
	bottom: -50px; left: -44px;
	border-bottom: 22px solid #F2F2F6;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
}

/**
 * First One Click Scan not done yet
 */
/* Hide some items */
.secupress-scanners-header.secupress-not-scanned-yet + .secupress-scanners-filters,
.secupress-scanners-header.secupress-not-scanned-yet ~ .secupress-scanners-list,
.secupress-scanners-header .secupress-before-caroupoivre,
.secupress-scanners-header.secupress-not-scanned-yet .secupress-last-scan-result {
	display: none;
}

.secupress-scanners-header.secupress-not-scanned-yet .secupress-before-caroupoivre {
	display: block;
}
.secupress-no-first-oneclickscan-yet .secupress-logo-block {
	position: relative;
	top: 55px;
	z-index: 2;
}
.secupress-no-first-oneclickscan-yet .secupress-settings-header {
	padding: 0 15px;
}
.secupress-no-first-oneclickscan-yet .secupress-settings-header + .secupress-section-gray-dark {
	padding: 0 15px 15px;
}
.secupress-no-first-oneclickscan-yet .secupress-settings-header + .secupress-section-gray-dark .secupress-text-medium {
	margin-bottom: 0;
}
.secupress-no-first-oneclickscan-yet .secupress-one-click-scanning-slideshow,
.secupress-before-caroupoivre {
	border-top: 1px solid #5A626F;
}
.secupress-caroupoivre,
.secupress-before-caroupoivre {
	position: relative;
	text-align: center;
}
.secupress-caroupoivre:before,
.secupress-before-caroupoivre:before {
	position: absolute;
	left: 50%; top: 50%;
	margin: 0 0 0 -59px;
	content: "\e903";
	font-family: 'secupress';
	color: #5A626F;
	font-size: 118px;
}
.secupress-before-caroupoivre:before {
	margin-top: -40px;
}
.secupress-slide,
.secupress-before-caroupoivre {
	position: relative;
	padding: 16px 10px 30px;
}
.secupress-slide p {
	max-width: 400px;
	margin: 1em auto;
}
.secupress-section-dark .secupress-caroupoivre .slide-title,
.secupress-before-caroupoivre h3 {
	margin-bottom: 0.1em;
	font-size: 23px;
	color: #FFF;
}
.secupress-before-caroupoivre h3,
.secupress-before-caroupoivre p {
	position: relative;
	z-index: 1;
}
.secupress-before-caroupoivre h3 {
	padding-top: 45px;
}
.secupress-before-caroupoivre p.secupress-start-one-click-scan {
	margin-top: 65px;
}
.secupress-caroupoivre-pagination {
	margin-top: -1em;
	text-align: center;
}
.secupress-caroupoivre-pagination span {
	display: inline-block;
	margin: 1em;
	width: 8px; height: 8px;
	background: #5a626f;
	transition: background .275s;
	border-radius: 50%;
}
.secupress-dot.current {
	background: #FFF;
}
.secupress-progressbar {
	position: relative;
	width: 650px;
	max-width: 100%;
	height: 16px;
	margin: 2em auto;
	border: 2px solid #2BCDC1;
	border-radius: 2px;
}
.secupress-progressbar-val {
	position: absolute;
	left: 0; top: 0; bottom: 0;
	width: 0;
	background: #2BCDC1;
	transition: width .1s;
}
.secupress-progress-val-txt {
	position: absolute;
	bottom: 110%;
	white-space: nowrap;
	right: -20px;
	color: #2BCDC1;
}

/**
 * More infos links
 */
a.secupress-open-moreinfo,
a.secupress-close-moreinfo {
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 600;
}
.secupress-close-moreinfo .text,
.secupress-open-moreinfo .text {
	text-decoration: none;
}
.secupress-close-moreinfo .icon-cross:before {
	vertical-align: -1.5px;
}
.secupress-close-moreinfo {
	transform: translateY(-15px);
	opacity: 0;
	visibility: hidden;
}
.secupress-open .secupress-close-moreinfo {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
.secupress-open-moreinfo {
	transform: translateY(0);
}
.secupress-open-moreinfo.secupress-activated {
	transform: translateY(15px);
	opacity: 0;
	visibility: hidden;
}

/**
 * Blobs in More Info pannel 
 */
[id="secupress-more-info"] {
	position: absolute;
	top: 100%;
	left: 0; right: 0;
	z-index: 2;
	margin-top: 1px; /* lets the top border appears */
}
.secupress-section-dark [id="secupress-more-info"] {
	background: #222831;
}
[id="secupress-more-info"] .secupress-blob {
	transform: scale(1.1);
	transition: all .275s;
	opacity: 0;
	visibility: hidden;
}
[id="secupress-more-info"].secupress-open .secupress-blob {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}
[id="secupress-more-info"].secupress-open .secupress-blob {
	transition-delay: 0.25s;
}
[id="secupress-more-info"].secupress-open .secupress-col-1-4:nth-child(2) .secupress-blob {
	transition-delay: 0.5s;
}
[id="secupress-more-info"].secupress-open .secupress-col-1-4:nth-child(3) .secupress-blob {
	transition-delay: 0.75s;
}
[id="secupress-more-info"].secupress-open .secupress-col-1-4:nth-child(4) .secupress-blob {
	transition-delay: 1s;
}

/**
 * Scan header main contents
 */
.secupress-scan-header-main {
	padding: 0 114px;
}

.secupress-tabs-controls {
	flex-shrink: 0;
	padding-left: 20px;
}
.secupress-tabs-controls li {
	margin: 2em 0;
}
.secupress-tabs-controls-list a {
	display: block;
	text-decoration: none;
	border-radius: 3px;
}
.secupress-tabs-controls-list a:hover {
	box-shadow: 0 0 1px 9px #222831, 0 0 1px 10px rgba(255,255,255,.2);
}
.secupress-tabs-controls .secupress-button-primary {
	background: #26B3A9;
}
.secupress-tabs-controls .secupress-button-primary:hover,
.secupress-tabs-controls .secupress-button-primary:focus {
	background: #2bcdc1;
}

.secupress-tabs-controls-list .secupress-label-with-icon {
	padding-left: 54px;
}


/* Little pieces of colors for chart legend or item status */
.secupress-chart-legend {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.01em;
}
.secupress-chart-container.secupress-chart-container {
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	margin-right: 30px;
}
.secupress-chart-legend li {
	margin: 0;
}
.secupress-chart-legend li + li {
	margin-top: 1em;
}
.secupress-carret {
	display: inline-block;
	height: 1.75em;
	width: 5px;
	margin-right: 5px;
	vertical-align: -.5em;
}
.status-good .secupress-carret {
	background: #26B3A9;
}
.status-warning .secupress-carret {
	background: #F7AB13;
}
.status-bad .secupress-carret,
.status-error .secupress-carret {
	background: #CB234F;
}
.status-notscannedyet .secupress-carret,
.status-cantfix .secupress-carret {
	background: #5A626F;
}

.secupress-chart-legend [class^="secupress-count-"]:not(:empty):before {
	content: "(";
}
.secupress-chart-legend [class^="secupress-count-"]:not(:empty):after {
	content: ")";
}

/* WordPress generic style fix */
[class^="secupress-"] .status-warning {
	color: inherit;
}

/* Doughnut Chart */
.secupress-chart-container {
	position: relative;
}
.secupress-chart-container:after {
	content: "\e903";
	position: absolute;
	top: 50%; left: 50%;
	line-height: 105px;
	margin: -50px 0 0 -54px;
	font-family: "secupress";
	font-size: 110px;
	color: rgba(255,255,255,.07);
}

.scanning .secupress-fix-status-actions {
	visibility: hidden;
	speak: none;
}
.status-good .secupress-fix-status-actions,
.status-warning .secupress-fix-status-actions,
.status-notscannedyet .secupress-fix-status-actions,
.has-fix-status .secupress-fix-status-actions,
.status-good .secupress-fix-result-retryfix,
.status-warning .secupress-fix-result-retryfix,
.status-notscannedyet .secupress-fix-result-retryfix,
.no-fix-status .secupress-fix-result-retryfix {
	display: none;
	visibility: hidden;
	speak: none
}

.secupress-tabs-contents {
	flex-basis: 66%;
	flex-grow: 0;
}
.secupress-tabs-contents > div {
	padding: 15px 35px 0 0;
}
.secupress-tab-content[id="secupress-schedule"] .secupress-text-medium + p {
	width: 600px;
	max-width: 100%;
	margin: 0 auto 1em;
}
.secupress-tab-content[id="secupress-schedule"] .secupress-text-medium {
	position: relative;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}
.secupress-cta-detail {
	margin-top: -1em;
	font-size: 11px;
	font-weight: bold;
	color: #5A626F;
}

.secupress-schedules-infos .secupress-schedule-last-one {
	margin: 2em 0 0.5em;
}
.secupress-schedules-infos .secupress-schedule-next-one {
	margin: 0.5em 0 2em;
}

.secupress-schedules-infos .secupress-schedule-next-one {
	color: #F39C12;
}
.secupress-schedules-infos.is-pro .secupress-schedule-next-one {
	color: #26B3A9;
}
.secupress-schedules-infos i {
	font-size: 1.2em;
	vertical-align: -2px;
	margin-right: 5px;
}
.secupress-schedules-infos .secupress-button {
	letter-spacing: 0.125em;
}
/* right cols with Status text and actions */
.secupress-fix-status-actions {
	padding-top: 4px;
}
.secupress-fix-status-text:not(:empty) {
	padding: 5px 0;
}
/* Fix it button + How? action */
a + .secupress-row-actions {
	margin-top: 5px;
}

.secupress-reports-list {
	display: flex;
	flex-direction: column;
	margin: 1.1em 0 2.85em;
	font-size: 1.1em;
}
.secupress-reports-list li > * {
	flex-basis: 27%;
	vertical-align: middle;
}
.secupress-reports-list li {
	display: flex;
	align-items: center;
	padding: 6px 0 3px;
}
.secupress-reports-list li + li {
	border-top: 1px solid #5A626F;
}
.secupress-reports-list .secupress-latest-list-date {
	flex-basis: 38%;
	margin: 0 1em;
	color: #5A626F;
}
.secupress-reports-list i:before {
	font-size: 2em;
}
.secupress-reports-list .dashicons-arrow-right-alt2 {
	color: #5A626F;
}
.secupress-reports-list .secupress-latest-list-grade,
.secupress-reports-list i {
	flex: 0 0 auto;	
}
.secupress-reports-list .secupress-latest-list-grade {
	width: 22px;
	height: 22px;
	margin: 0 2em;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #5A626F;
	color: #5A626F;
	font-weight: bold;
}

#table-secupress-tests ul {
	list-style: disc outside;
}
.dashicons-external {
	font-size: 1.2em;
}

.secupress-prio-title {
	padding: 8px 10px;
	margin: 3.5em 0 1em;
	background: #ECF0F1;
	color: #5A626F;
	font-weight: bold;
	letter-spacing: 0.125em;
}
.secupress-prio-h {
	color: inherit;
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
}
.secupress-prio-h + p {
	font-size: 10px;
	margin: 0;
	opacity: 0.8;
}
.secupress-table-prio-all .details {
	font-style: italic;
	background: #ddf;
}
.secupress-item-all.hidden + .details {
	display: none;
}
.secupress-details .dashicons-editor-help {
	vertical-align: top;
	line-height: .7em;
}
.secupress-result-list {
	margin: 0;
}
.secupress-item-all .secupress-button-mini.secupress-button-mini .icon {
	margin: 0 2px 0 -3px;
}
.secupress-item-all .secupress-button-mini.secupress-button-mini .icon-shield {
	vertical-align: -1.25px;
}

/* Scanning & Fixing animations */

.secupress-item-all.scanning .icon-refresh {
	animation: rotation 2s infinite linear;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.secupress-item-all.fixing .icon-shield {
	animation: rotateshield 2s infinite linear;
}
@keyframes rotateshield {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}
[id="secupress-scan"] .secupress-actions-line .secupress-button {
	letter-spacing: 1px;
}

.secupress-scan-result ul,
.secupress-fix-result ul {
	margin: 0;
}
.secupress-scan-result li,
.secupress-fix-result li {
	margin-bottom: 0;
}
.secupress-scan-result li + li,
.secupress-fix-result li + li {
	margin-top: 6px;
}
.test-fix-action h3 {
	margin-top: 0;
}
.test-fix-action .submit {
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: left;
}
.secupress-chart-container .secupress-score .letter {
	position: absolute;
	font-size: 82px;
	top: 50%; left: 50%;
	margin: -10px 0 0 -26px;
	font-family: Arial, Helvetica, sans-serif;
}
.secupress-scan-infos .secupress-score-text {
	margin-bottom: 0.1em;
	line-height: 1.25;
}
.secupress-scan-infos .secupress-score-subtext {
	margin: .75em 0 1em;
}
.secupress-scan-infos .letter {
	font-weight: bold;
	font-size: 1.2em;
}
.secupress-chart .secupress-score .l∅ {
	font-size: 64px;
	margin: -6px 0 0 -28px;
}
.secupress-score .lA,
.secupress-reports-list .lA,
.dashicons-arrow-up-alt2 {
	color: #2BCDC1;
}
.secupress-latest-list-grade.lA {
	border-color: #2BCDC1;
}
.secupress-score .lB,
.secupress-reports-list .lB {
	color: #F1C40F;
}
.secupress-latest-list-grade.lB {
	border-color: #F1C40F;
}
.secupress-score .lC,
.secupress-reports-list .lC,
.dashicons-arrow-down-alt2 {
	color: #F7AB13;
}
.secupress-latest-list-grade.lC {
	border-color: #F7AB13;
}
.secupress-score .lD,
.secupress-reports-list .lD {
	color: #F2295E;
}
.secupress-latest-list-grade.lD {
	border-color: #F2295E;
}
.secupress-score .lE,
.secupress-reports-list .lE {
	color: #CB234F;
}
.secupress-latest-list-grade.lE {
	border-color: #CB234F;
}
.secupress-score .lF,
.secupress-reports-list .lF {
	color: #c32222;
}
.secupress-latest-list-grade.lF {
	border-color: #c32222;
}

.mini {
	font-size: 12px;
	line-height: 1.7em;
}
/**/
.link-like {
	padding: 0;
	border: none;
	margin: 0;
	font-size: 1em;
	line-height: inherit;
	text-align: left;
	text-transform: none;
	color: #0073AA;
	text-shadow: none;
	background: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
}
.link-like:hover,
.link-like:focus {
	color: #00A0D2;
}

/**
 * === Sanned Items
 */
[id="secupress-tests"] .secupress-item-all {
	position: relative;
	padding-left: 10px;
	margin: 2em 0;
	border: 1px solid #ECF0F1;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 0 #ECF0F1;
}
[id="secupress-tests"] .secupress-item-all:after {
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 10px;
	background: #5a626f;
	box-shadow: 0 3px 0 #5a626f;
	border-radius: 3px 0 0 3px;
}
.secupress-item-all.status-bad:after {
	background: #F2295E;
	box-shadow: 0 3px 0 #F2295E;
}
.secupress-item-all.status-good:after {
	background: #2BCDC1;
	box-shadow: 0 3px 0 #2BCDC1;
}
.secupress-item-all.status-warning:after {
	background: #F1C40F;
	box-shadow: 0 3px 0 #F1C40F;
}

.secupress-item-header {
	padding: 5px 25px 5px 15px;
}
.secupress-item-title {
	font-size: 16px;
	font-weight: 600;
	margin: 5px 0 0 0;
}

/* Row under item title */
.secupress-row-actions .link-like {
	color: #9B9B9B;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 0.05em;
	text-transform: lowercase;
}
.secupress-row-actions .link-like > * {
	display: inline-block;
	vertical-align: middle;
}
.secupress-row-actions .link-like .icon {
	line-height: 0.8;
}
.secupress-row-actions .link-like .icon i {
	font-size: 1.2em;
	margin-right: 2px;
}

/* Col with Fix-it button */
.secupress-item-actions-fix,
.secupress-scan-actions,
.secupress-fix-result-retryfix {
	padding-right: 15px;
	text-align: right;
	-webkit-flex-basis: 270px;
	-ms-flex-preferred-size: 270px;
	flex-basis: 270px;
}
.secupress-item-actions-fix {
	padding-top: 10px;
}
.secupress-fix-result-retryfix {
	padding-right: 0;
}

/* Scan result and actions */
.secupress-scan-result-n-actions {
	border-top: 1px solid #ECF0F1;
	margin: 8px 0 0 15px;
	padding: 6px 0;
	color: #5A626F;
}

.secupress-item-all code {
	padding: 0px 3px 0px;
	background: none;
	color: #393e46;
}

.secupress-fix-result-message:not(:empty) {
	padding: 0 15px 10px 0;
}
.secupress-fix-result-actions {
	padding: 8px 15px;
}
.secupress-fix-result-actions .secupress-button {
	text-transform: none;
}

/* If status is good */
.secupress-item-all.status-good .secupress-fix-result-actions {
	display: none;
}

.secupress-fix-result-actions p {
	margin: 0;
}

.secupress-ask-support {
	opacity: .5;
}
.secupress-ask-support:focus,
.secupress-ask-support:hover {
	opacity: .9;
}

/**/
.sweet-alert .sa-error-container .icon {
	margin-right: 10px;
	vertical-align: middle;
}
.sweet-alert .sa-error-container p {
	vertical-align: middle;
}
/**/
.sweet-alert input[type="text"]:invalid,
.sweet-alert input[type="email"]:invalid,
.sweet-alert input[type="password"]:invalid,
.sweet-alert input[type="url"]:invalid {
	background: #fdd;
}
.secupress-swal-form label {
	display: inline-block;
}
.secupress-group-horizontal > input {
	margin-bottom: .65em;
}
.secupress-group-horizontal > label {
	margin-right: .875em;
	margin-bottom: .71em;
}
ul.secupress-radio-group-vertical,
ul.secupress-checkbox-group-vertical,
.secupress-radio-group-vertical ul,
.secupress-checkbox-group-vertical ul {
	margin-top: 0;
}
.secupress-radio-group-vertical li,
.secupress-checkbox-group-vertical li {
	padding-left: 1.5em;
}
.wp-admin .secupress-radio-group-vertical [type="radio"],
.wp-admin .secupress-checkbox-group-vertical [type="checkbox"] {
	float: left;
	font-size: .875em;
	margin-left: -1.714em;
	margin-top: .4286em;
}
/**/
.too-many-admins-posts-wrapper,
.too-many-admins-role-wrapper {
	display: none;
}
[value="delete"]:checked ~ .too-many-admins-posts-wrapper,
[value="changerole"]:checked ~ .too-many-admins-role-wrapper {
	display: block;
	margin-top: .5em;
}
/**/
[id="tweeterA"] span {
	color: #55acee;
}
[id="tweeterA"] i {
	display: block;
	font-size: 1.2em;
	color: rgba(255,255,255,.65);
}
[id="tweeterA"] i:before {
	content: "“";
	margin-right: .2em;
	font-size: 3em;
	color: rgba(255,255,255,.2);
	font-family: Georgia, Times, serif;
	vertical-align: -0.4em;
}
.disabled {
	border-color: #ccc;
	color: #ccc;
}
/**/
.secupress-notice .secupress-spinner,
.secupress-notice .secupress-ajax-percent,
.secupress-notice .secupress-error-notif {
	vertical-align: middle;
	display: inline-block;
	margin-left: 1em;
}
.secupress-notice .secupress-spinner {
	width: 1.5em;
}
.secupress-notice .secupress-error-notif {
	color: #DD3D36;
}
